@media (min-width: 1800px) {
  .content-section {
    min-height: 110vh;
    height: 110vh;
  }
  .content-card-container-flexbox-library-video {
    max-width: 1400px;
  }
}
@media (max-width: 1300px) {
  .header-container {
    padding: 15px 20px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .header-site-logo {
    display: block;
    order: 1;
    width: 48%;
  }
  .header-site-logo img {
    width: 35px;
  }
  .header-social-media {
    display: flex;
    order: 4;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 7px 0 5px 0;
  }
  .header-social-media div {
    border-top: 2px solid var(--seconday-color);
    padding-top: 10px;
  }
  .header-social-media a {
    padding: 0 10px;
    color: var(--seconday-color);
    font-weight: 600;
    font-size: 1.8rem;
  }
  .header-social-media a:hover {
    color: var(--third-color);
  }
  .header-nav {
    order: 3;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  header .header-container span .nav-links {
    padding: 10px 20px;
    color: var(--seconday-color);
    font-weight: 600;
    font-size: 1.7rem;
    text-transform: capitalize;
  }
  .side-button img {
    width: 80px;
  }
  .nav-sub-menu-link-style-2:hover .nav-links {
    color: var(--fourth-color);
  }
  .nav-sub-menu-dropdown-show {
    transition: all 0.3s ease-out;
    transform: scaleY(1);
    overflow: visible;
    right: 50%;
    transform: translateX(50%);
  }
  .nav-sub-menu-link:hover {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
  }
  .nav-sub-menu-dropdown .header-sub-menu {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .nav-sub-menu-dropdown .header-sub-menu .hover-dropdown:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .header-user {
    order: 2;
    width: 40px;
  }
  .header-search-bar {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
  }

  .sidebar {
    display: none;
  }

  .content-card-container {
    position: relative;
    z-index: 10;
    margin-left: 0;
  }
  .content-card-container h1 {
    font-size: 5rem;
    line-height: 48px;
  }
  .content-card-container-flexbox-right h2 {
    font-size: 3.6rem;
    line-height: 40px;
  }
  .content-card-container-flexbox-learning {
    grid-template-columns: repeat(11, 1fr);
  }
  .content-card-container-flexbox-learning-left {
    grid-column: 1 / span 3;
    padding-bottom: 15px;
  }
  .content-card-container-flexbox-learning-right {
    grid-column: 4 / span 8;
  }
  .content-card-container-flexbox-all-content table thead tr th {
    font-size: 2.3rem;
  }
}

@media (max-width: 996px) {
  .content-section {
    width: 100%;
    min-height: 150vh;
    height: 150vh;
    position: relative;
  }
  .content-card-container-flexbox {
    margin: 0 auto;
    width: 85%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border-radius: 12px;
    grid-column-gap: 15px;
  }

  .content-card-container-flexbox-left {
    grid-column: 1 / span 1;
  }
  .content-card-container-flexbox-left img {
    width: 55%;
    aspect-ratio: 3/4;
    margin: 0 auto;
    object-fit: cover;
    object-position: center;
  }
  .content-card-container-flexbox-middle {
    grid-column: 2 / span 1;
    height: 100%;
    margin: auto 0;
  }
  .content-card-container-flexbox-middle img {
    width: 85%;
  }
  .content-card-container-flexbox-right {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
  }
  .content-card-container-flexbox-right div {
    height: 70%;
    margin: 0 20px;
  }

  /* -------Forme Du Moment page------- */
  .content-card-container-flexbox-forme {
    margin: 0 auto;
    width: 85%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
  }
  .content-card-container-flexbox-forme-left {
    grid-row: 1;
    grid-column: 1;
    border-bottom-left-radius: 0;
  }
  .content-card-container-flexbox-forme-left img {
    width: 55%;
    aspect-ratio: 3/4;
    margin: 0 auto;
    object-fit: cover;
    object-position: center;
  }
  .content-card-container-flexbox-forme-middle {
    grid-row: 2;
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 25px;
  }
  .content-card-container-flexbox-forme-right {
    grid-row: 1;
    grid-column: 2;
  }

  .forme-chart {
    width: 50%;
  }

  .content-card-container-flexbox-forme-right table tr th {
    font-size: 1.5rem;
    font-weight: 600;
    padding-right: 10px;
    padding-top: 5px;
  }
  .content-card-container-flexbox-forme-right table tr td {
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 5px;
  }
  .forme-content-card-switch-buttons {
    top: -31px;
  }

  .forme-content-card-switch-buttons div {
    padding: 4px 15px;
    margin-left: 15px;
  }
  .forme-content-card-switch-buttons div span {
    margin-right: 10px;
    font-size: 1.7rem;
    font-weight: 500;
  }
  /* Videos Joueurs */
  .content-card-container-flexbox-library-video {
    grid-template-columns: repeat(1, 1fr);
  }

  .content-card-container-flexbox-library-video-left {
    grid-column: 1;
  }
  .content-card-container-flexbox-library-video-left-switches {
    justify-content: flex-start;
  }

  .content-card-container-flexbox-library-video-right {
    grid-column: 1;
  }
  .content-card-container-flexbox-library-video-left-switches ul li {
    margin: 25px 0;
  }
  .content-card-container-flexbox-joueurs {
    height: 500px;
  }
  /* Adversaire Page */
  .content-card-container-flexbox-adversaire {
    height: 500px;
  }
  /* Videos Match Page */
  .content-card-container-flexbox-matches {
    height: 500px;
  }
  /* Videos Entertainment Page */

  .a {
    height: 500px;
  }
  .entertainment-switch-buttons {
    display: block;
  }
  .content-card-container-flexbox-entertainment-right {
    display: none;
    width: 100%;
    padding: 10px 10px 10px 10px;
  }
  .content-card-container-flexbox-entertainment-left {
    border: none;
    width: 100%;
    padding: 10px 10px 10px 10px;
  }
  .entertainment-card {
    width: 100% !important;
  }
  .content-card-container-flexbox-learning {
    grid-template-columns: repeat(1, 1fr);
  }
  .content-card-container-flexbox-learning-left {
    grid-column: 1;
    padding-bottom: 15px;
  }
  .content-card-container-flexbox-learning-right {
    grid-column: 1;
  }
  .content-card-container-flexbox-learning-left-switches > ul > li {
    margin: 1px 0;
  }
  .content-card-container-flexbox-learning-left-switches > ul {
    height: 300px;
    overflow-y: auto;
    width: 100%;
  }
  .content-card-container-flexbox-learning-left-switches h3 {
    margin: 60px 15px 10px 30px;
  }
  .content-card-container-flexbox-learning-right .a {
    margin-top: 10px;
    height: 400px;
  }
  .content-card-container-flexbox-all-content table thead tr th {
    font-size: 2.2rem;
  }
}
@media (max-width: 786px) {
  .content-section {
    width: 100%;
    height: max-content;
    padding-bottom: 30px;
    background-color: var(--third-color);
  }
  .content-section::before {
    content: none;
  }

  .content-section::after {
    content: none;
  }
  header {
    display: none;
  }
  .mobile-header-container {
    display: block;
  }
  .mobile-header-hamburger-button i {
    display: inline-block;
  }
  .mobile-header-search-bar {
    display: none;
  }
  .mobile-header-hamburger-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    max-width: 300px;
    width: 250px;
    background-color: var(--primay-color);
    z-index: 20;
    transform: translateX(-200%);
    box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.6s ease-in;
  }

  .mobile-header-hamburger-menu-2 {
    transition: all 0.6s ease-in;
    transform: translateY(0);
  }

  .header-user {
    border: 2px solid var(--seconday-color);
    width: 35px;
    height: 35px;
    padding-top: 4px;
  }
  .header-user i {
    font-size: 2.1rem;
  }
  .side-button img {
    width: 70px;
  }
  .content-card-container h1 {
    font-size: 3.2rem;
    line-height: 30px;
  }
  .content-card-container-flexbox-right h2 {
    font-size: 3rem;
    line-height: 40px;
  }
  /* Videos Match Page */
  .content-card-container-flexbox-matches {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Adversaire Page */
  .content-card-container-flexbox-adversaire {
    height: 500px;
  }
  .adversaire-card {
    flex-direction: column;
    row-gap: 20px;
  }

  .adversaire-card-left {
    justify-content: center;
    width: 100%;
  }
  .adversaire-card-right {
    justify-content: center;
    width: 100%;
  }
  .adversaire-card-left img,
  .adversaire-card-right img {
    width: 50px;
    max-width: 50px;
    height: 60px;
    object-fit: contain;
    object-position: center;
  }
  .adversaire-card-middle {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 5%;
  }
  .adversaire-card-middle b {
    margin: 0 0 0 0;
    order: 3;
    font-size: 1.6rem;
  }
  .v-s span:first-child,
  .v-s span:last-child {
    font-size: 1.5rem;
    font-weight: 500;
    width: 23px;
    height: 23px;
    padding: 2px 0;
  }

  .adversaire-card-absolute img {
    width: 30px;
  }
  /* Joueurs Page */
  .joueurs-players-flexbox {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 50px;
  }
  .content-card-container-flexbox-collectif-folders {
    margin-bottom: 40px;
  }
  .content-card-container-flexbox-collectif-folders h3 {
    font-size: 1.6rem;
  }
  .content-card-container-flexbox-collectif-folders img {
    width: 80px;
    margin: 0 auto 10px auto;
  }
  .content-card-container-flexbox-learning-left-switches h3 {
    font-size: 2rem;
  }
  .content-card-container-flexbox-learning-left-switches h3 i {
    font-size: 2rem;
  }

  .content-card-container-flexbox-learning-left-switches > ul > li > a {
    font-size: 1.7rem;
  }
  .content-card-container-flexbox-learning-left-switches > ul > li div ul li {
    font-weight: 600;
    font-size: 1.5rem;
  }
  .content-card-container-flexbox-all-content table thead tr th {
    font-size: 1.9rem;
  }
}

@media (max-width: 576px) {
  .header-user-dropdown .header-user-btn-2 {
    left: -20px;
    padding: 12px 19px 22px 19px;
  }

  .header-user-dropdown img {
    width: 100px;
    height: 100px;
  }
  .header-user-dropdown h2 {
    font-size: 2.3rem;
  }

  .header-user-dropdown ul li {
    font-size: 1.5rem;
  }

  .header-user-copyright {
    font-size: 0.8rem;
  }
  .side-button img {
    width: 60px;
  }
  .content-card-container-flexbox {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-radius: 12px;
    grid-column-gap: 0;
  }

  .content-card-container-flexbox-left {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 12px;
  }
  .content-card-container-flexbox-left img {
    width: 40%;
    aspect-ratio: 3/5;
    margin: 0 auto;
  }
  .content-card-container-flexbox-middle {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
  .content-card-container-flexbox-middle img {
    width: 60%;
    margin: 10px auto;
  }
  .content-card-container-flexbox-right {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    height: 300px;
  }
  .content-card-container-flexbox-right p {
    color: var(--grey-color);
    padding: 13px 13px;
    text-transform: uppercase;
    font-size: 1.4rem;
    line-height: 22px;
    font-weight: 400;
  }
  /* -------Forme Du Moment page------- */
  .content-card-container-flexbox-forme {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0;
  }
  .content-card-container-flexbox-forme-left {
    grid-row: 1;
    grid-column: 1;
    border-bottom-left-radius: 0;
    border-top-right-radius: 12px;
  }
  .content-card-container-flexbox-forme-left img {
    width: 40%;
    aspect-ratio: 3/5;
    margin: 0 auto;
  }
  .content-card-container-flexbox-forme-middle {
    grid-row: 2;
    grid-column: 1;
  }
  .content-card-container-flexbox-forme-right {
    grid-row: 3;
    grid-column: 1;
    padding: 15px 10px 15px 25px;
  }
  .forme-chart {
    width: 100%;
  }
  .forme-content-card-switch-buttons {
    right: 50%;
    transform: translateX(50%);
    top: -20px;
  }
  .forme-content-card-switch-buttons div {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding: none;
    width: 45px;
    margin-left: 10px;
  }
  .forme-content-card-switch-buttons div span {
    display: none;
  }
  .forme-content-card-switch-buttons div img {
    width: 100%;
  }

  /* Videos Match Page */
  .content-card-container-flexbox-matches {
    grid-template-columns: repeat(1, 1fr);
  }
  .library-menu-select {
    margin-right: -5px !important;
  }
  .content-card-container-flexbox-library-video-left-switches ul li span {
    font-size: 1.5rem;
  }
  .entertainment-card {
    flex-direction: column;
  }
  .entertainment-card iframe {
    width: 100% !important;
  }
  .entertainment-switch-buttons span {
    font-size: 1.6rem;
  }
  .content-card-container-flexbox-collectif {
    grid-template-columns: repeat(2, 1fr);
  }
  .content-card-container-flexbox-all-content table thead tr th {
    font-size: 1.5rem;
    text-align: center;
  }
  .content-card-container-flexbox-all-content table tbody tr td span {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 6px 15px 6px 0;
    font-size: 1.3rem;
    font-family: 800;
    text-align: center;
  }

  .content-card-container-flexbox-all-content
    table
    tbody
    tr
    td:first-child
    img {
    width: 50px;
    height: 33px;
    border-radius: 6px;
    margin-right: 0;
    margin-bottom: 6px;
  }
  .content-card-container-flexbox-all-content
    table
    tbody
    tr
    td:nth-child(2)
    img {
    width: 30px;
    height: 30px;
    margin-right: 0;
    margin-bottom: 6px;
  }
  .content-card-container-flexbox-all-content table tbody tr td:last-child img {
    width: 25px;
    height: 25px;
    margin-right: 0;
    margin-bottom: 6px;
  }
}
