/* -----CSS Default Reset----- */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800;900&family=Raleway:wght@200;300;400;500;600;700;800;900&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
:root {
  --primay-color: #fedc00;
  --seconday-color: #01a558;
  --third-color: #014e28;
  --fourth-color: #fdfbe2;
  --background-overlay: #7dc9a0;
  --grey-color: #989898;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.35;
  -webkit-font-smoothing: antialiased !important;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--fourth-color);
}

ul,
ol {
  list-style: none;
}

img,
svg {
  display: block;
  max-width: 100%;
}

a {
  color: unset;
  text-decoration: none;
}

/*--------- Header---------- */
header {
  width: 100%;
  background-color: var(--fourth-color);
}
.header-container {
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.header-site-logo {
  display: none;
}
header .header-container div .header-menu {
  margin-left: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
header .header-container span .nav-links {
  color: var(--third-color);
  font-weight: 700;
  font-size: 1.7rem;
  padding: 17px 17px 17px 17px;
  display: inline-block;
  text-transform: uppercase;
  color: var(--third-color);
}

.nav-sub-menu-link {
  position: relative;
  cursor: pointer;
}

.nav-sub-menu-link:hover {
  background-color: var(--seconday-color);
  border-top-right-radius: 40px;
}

.nav-sub-menu-link:hover .nav-links {
  color: var(--fourth-color);
}

.nav-sub-menu-link-style-2:hover {
  background-color: var(--seconday-color);
  border-top-right-radius: 35px;
  border-top-left-radius: 34px;
}
.nav-sub-menu-link-style-2:hover .nav-links {
  color: var(--third-color);
}

.nav-sub-menu-dropdown {
  position: absolute;
  top: 100%;
  z-index: 20;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 220px;
  overflow: hidden;
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  -o-transform-origin: top;
  -moz-transform-origin: top;
  transform-origin: top;
  transform: scaleY(0);
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  -o-transform: scaleY(0);
  -moz-transform: scaleY(0);
}

.nav-sub-menu-dropdown-show {
  transition: all 0.3s ease-out;
  transform: scaleY(1);
  overflow: visible;
}
.nav-sub-menu-dropdown-show-style-2 {
  transition: all 0.3s ease-out;
  transform: scaleY(1);
  overflow: visible;
  right: 50%;
  transform: translateX(50%);
}
.nav-sub-menu-dropdown .header-sub-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--seconday-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100%;
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.5);
}
.nav-sub-menu-dropdown .header-sub-menu .hover-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--seconday-color);
  width: 100%;
}
.nav-sub-menu-dropdown .header-sub-menu .hover-dropdown:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.nav-sub-menu-dropdown .header-sub-menu .nav-sub-links {
  color: var(--fourth-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.nav-sub-menu-link-style-2
  .nav-sub-menu-dropdown
  .header-sub-menu
  .hover-dropdown
  .nav-sub-links {
  font-weight: 900;
  line-height: 1.9rem;
  font-size: 1.7rem;
  padding: 2px 5px;
}
.nav-sub-menu-dropdown .header-sub-menu div:last-child .nav-sub-links {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.nav-sub-menu-dropdown .header-sub-menu .hover-dropdown .nav-sub-links:hover {
  color: var(--seconday-color);
  background-color: var(--primay-color);
  margin-bottom: -1px;
}

.nav-sub-menu-dropdown .header-sub-menu .nav-sub-links i {
  color: var(--seconday-color);
  padding: 10px 10px;
  background-color: var(--fourth-color);
  width: 45px;
  text-align: center;
  box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.5);
}
.nav-sub-menu-dropdown .header-sub-menu .hover-dropdown:first-child i {
  padding-top: 20px;
}
.nav-sub-menu-dropdown .header-sub-menu .nav-sub-links:hover i {
  color: var(--seconday-color);
  background-color: var(--primay-color);
  box-shadow: none;
}
.nav-sub-menu-dropdown .header-sub-menu .nav-sub-links p {
  border-top: 1px solid rgba(253, 251, 226, 0.3);
  margin: 0 10px;
  width: 100%;
  padding: 6px 0 6px 0;
}
.nav-sub-menu-dropdown .header-sub-menu .nav-sub-links p b {
  font-weight: 600;
}
.nav-sub-menu-dropdown .header-sub-menu div:first-child .nav-sub-links p {
  border-top: none;
}
.nav-sub-menu-dropdown .header-sub-menu div:first-child .nav-sub-links i {
  border-top-right-radius: 25px;
}
.nav-sub-menu-dropdown
  .header-sub-menu
  div:last-child
  .nav-sub-links:last-child
  i {
  border-bottom-left-radius: 10px;
}

.nav-sub-sub-menu-dropdown {
  position: absolute;
  left: 100%;
  background-color: var(--primay-color);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-bottom-right-radius: 10px;
  z-index: -1;
  display: none;
}
.nav-sub-sub-menu-dropdown:hover ~ a {
  color: var(--seconday-color) !important;
  background-color: var(--primay-color);
}
.nav-sub-sub-menu-dropdown:hover ~ a i {
  color: var(--seconday-color) !important;
  background-color: var(--primay-color) !important;
  box-shadow: none !important;
}
.nav-sub-sub-menu-link:hover .nav-sub-sub-menu-dropdown {
  display: block;
}
.nav-sub-sub-menu-dropdown nav a {
  padding: 7px 50px 7px 14px;
  background-color: var(--primay-color);
  width: 100%;
  display: block;
  font-weight: 500;
  color: var(--seconday-color);
  border-bottom: 1px solid rgba(253, 251, 226, 0.6);
}
.nav-sub-sub-menu-dropdown nav:last-child a:last-child {
  border-bottom-right-radius: 10px;
  border-bottom: none;
}

.nav-sub-sub-menu-dropdown nav a:hover {
  background-color: var(--fourth-color);
}

.header-search-bar {
  position: relative;
  margin-left: auto;
}
.header-search-bar input {
  outline: none;
  border: 1px solid var(--primay-color);
  padding: 6px 14px;
  border-radius: 12px;
  font-size: 1.2rem;
  width: 250px;
}
.header-search-bar span {
  position: absolute;
  right: 15px;
  height: 100%;
  display: inline-block;
}
.header-search-bar i {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.4rem;
  cursor: pointer;
}

.header-user {
  border: 3px solid var(--seconday-color);
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  padding-top: 8px;
  justify-content: center;
  border-radius: 50%;
  margin-left: 20px;
  position: relative;
  cursor: pointer;
}
.header-user:hover {
  border: 3px solid var(--third-color);
}
.header-user i {
  font-size: 2.3rem;
  color: var(--seconday-color);
}
.header-user:hover i {
  color: var(--third-color);
}

.header-user-dropdown {
  background-color: var(--fourth-color);
  position: absolute;
  z-index: 25;
  top: 0;
  right: 0;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 14px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  transform: translateX(200%);
  transition: all 0.4s ease-in-out;
}

.header-user-dropdown-slidein {
  transform: translateX(0);
}
.header-user-dropdown .header-user-btn-2 {
  position: absolute;
  top: 0;
  left: -85px;
  background-color: var(--fourth-color);
  padding: 15px 25px 30px 25px;
  border-bottom-left-radius: 55px 60px;
  box-shadow: -9px 3px 10px -10px rgba(61, 61, 61, 0.2);
}
.header-user-dropdown .header-user-btn-2 .header-user {
  margin: 0;
  cursor: pointer;
}
.header-user-dropdown img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid var(--seconday-color);
  object-fit: contain;
  object-position: top;
  margin: 15px 0;
}
.header-user-dropdown h2 {
  color: var(--seconday-color);
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
}
.header-user-dropdown span a {
  color: black;
  opacity: 0.7;
  font-size: 1.3rem;
  font-weight: 600;
}
.header-user-dropdown span a:hover {
  opacity: 1;
}
.header-user-dropdown ul {
  margin: 10px 0;
}
.header-user-dropdown ul li {
  text-transform: capitalize;
  padding: 8px;
  font-size: 1.8rem;
  font-weight: 600;
  color: black;
  opacity: 0.7;
  border-bottom: 1px solid #c4c4c4;
  text-align: center;
}
.header-user-dropdown ul li:hover {
  color: var(--seconday-color);
}
.header-user-copyright {
  font-size: 0.9rem;
  font-weight: 600;
}

.header-social-media {
  display: none;
}
/*--------- Mobile Header-------- */
.mobile-header-container {
  background-color: var(--fourth-color);
  position: relative;
  display: none;
}
.mobile-header-flexbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0 20px;
  padding: 15px 0;
}
.mobile-header-site-logo img {
  width: 30px;
}
.mobile-header-hamburger-button {
  width: fit-content;
  order: 3;
}
.mobile-header-hamburger-button i {
  color: var(--seconday-color);
  font-size: 2.6rem;
  cursor: pointer;
  display: none;
}
.mobile-header-login {
  margin-left: auto;
  margin-right: 15px;
}

.mobile-header-hamburger-menu-container {
  padding: 5px 20px;
  height: 85%;
  overflow-y: auto;
  margin-right: 5px;
}
.mobile-header-hamburger-menu-container::-webkit-scrollbar {
  width: 7px; /* Set the width of the scrollbar */
}
.mobile-header-hamburger-menu-container::-webkit-scrollbar-thumb {
  background: var(--third-color); /* Set the color of the thumb */
  border-radius: 5px; /* Add rounded corners */
  width: 7px;
}
.close-mob-menu-btn {
  color: var(--third-color);
  font-size: 2.7rem;
  padding: 17px 15px;
  cursor: pointer;
  width: fit-content;
  margin-left: auto;
}
.mobile-header-hamburger-menu nav.mobile-header-nav {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 20px;
}
.mobile-header-hamburger-menu nav.mobile-header-nav span {
  display: inline-block;
  width: 100%;
}

.mobile-header-hamburger-menu
  nav.mobile-header-nav
  span
  .mob-nav-sub-menu-link {
  color: var(--third-color);
  font-weight: 600;
  padding: 5px 0;
  font-size: 1.8rem;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.mob-nav-sub-menu-dropdown {
  display: none;
}
.mob-nav-sub-menu-dropdown-display {
  display: block;
}
.mob-nav-sub-menu-dropdown nav {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 4px 5px 4px 12px;
}
.mob-nav-sub-menu-dropdown nav a {
  color: var(--seconday-color);
  font-weight: 500;
  margin-bottom: 4px;
  font-size: 1.5rem;
  width: 100%;
  display: block;
}
.mob-nav-sub-sub-menu-link {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  width: 100% !important;
}
.mob-nav-sub-sub-menu-link p {
  margin-left: 15px;
  display: flex;
  justify-content: center;
  align-self: center;
}
.mob-nav-sub-sub-menu-dropdown {
  display: none;
}
.mob-nav-sub-sub-menu-dropdown nav {
  padding: 0 0 0 8px !important;
}
.mob-nav-sub-sub-menu-dropdown-display {
  display: block;
}

.mob-nav-sub-sub-menu-dropdown nav a {
  color: var(--third-color);
}
.mobile-header-hamburger-menu nav.mobile-header-social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  border-top: 2px solid var(--third-color);
  width: fit-content;
  margin: 0 auto;
}
.mobile-header-hamburger-menu nav.mobile-header-social-media a {
  padding: 0 10px;
  color: var(--third-color);
  font-weight: 600;
  font-size: 1.8rem;
}
.mobile-header-hamburger-menu nav.mobile-header-nav a:hover,
.mobile-header-hamburger-menu nav.mobile-header-social-media a:hover {
  color: var(--seconday-color);
}
/* -------------Sidebar------------ */
.sidebar {
  background-color: var(--primay-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  z-index: 20;
}
.sidebar .site-logo a img {
  width: 80%;
  margin: 0 auto;
  margin-top: 12px;
}
.sidebar .social-media-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.sidebar .social-media-links a i {
  font-size: 2.7rem;
  padding: 10px 2px;
  color: black;
  opacity: 0.7;
  cursor: pointer;
}
.sidebar .social-media-links a i:hover {
  color: var(--third-color);
  opacity: 1;
}
.sidebar .setting {
  margin-bottom: 80px;
  position: relative;
  width: 100%;
  text-align: center;
  padding: 25px 2px 10px 2px;
  border-top-left-radius: 60px 30px;
}
.setting-bg {
  transition: all 0.5s ease-in;
  background-color: var(--fourth-color);
}

.sidebar .setting > i {
  opacity: 0.7;
  color: black;
  font-size: 2.9rem;
  cursor: pointer;
}
.sidebar .setting > i:hover {
  color: var(--third-color);
  opacity: 1;
}

.setting-slider {
  position: absolute;
  left: 100%;
  bottom: 0;
  background-color: var(--fourth-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 8px;
  border-top-right-radius: 13px;
  border-bottom-right-radius: 13px;
  display: none;
  animation: fade 0.5s ease-in;
  box-shadow: 10px 2px 10px rgba(0, 0, 0, 0.4);
}
.setting-slider-bg {
  background-color: var(--fourth-color);
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.setting-slider-slide {
  display: block;
}
.setting-slider i {
  font-size: 1.9rem;
  margin-bottom: 13px;
  opacity: 0.7;
  cursor: pointer;
}
.setting-slider i:hover {
  color: var(--third-color);
  opacity: 1;
}
.setting-slider span {
  font-size: 1rem;
  opacity: 0.9;
  cursor: pointer;
}
.setting-slider span:hover {
  color: var(--third-color);
  opacity: 1;
}
/* ------Content Section-------- */
.content-section {
  width: 100%;
  min-height: 140vh;
  height: 140vh;
  position: relative;
}

.content-section::before {
  content: "";
  background-image: url("../images/background.png");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(3px); /* Adjust the blur radius as needed */
  z-index: -1; /* Place the pseudo-element behind the content */
}

.content-section::after {
  content: "";
  background-color: rgba(15, 42, 24, 0.8);
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.background-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}
.background-image-overlay img {
  width: 100%;
  height: 100%;
  object-position: top;
  object-fit: cover;
}

.content-card-container {
  position: relative;
  z-index: 10;
  margin-left: 50px;
}
.content-card-container .time {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  color: var(--fourth-color);
  font-size: 1.5rem;
  font-weight: 600;
  padding: 15px 20px;
}
.content-card-container .time div {
  padding: 0 0 0 10px;
}
.content-card-container .time div i {
  padding: 0 5px 0 0;
}
.content-card-container h1 {
  color: var(--primay-color);
  text-align: center;
  font-size: 6rem;
  font-weight: 900;
  text-transform: uppercase;
  margin: 20px 0 50px 0;
  line-height: 48px;
  padding: 0 25px;
}

.content-card-container-flexbox {
  margin: 0 auto;
  background-color: var(--fourth-color);
  max-width: 1200px;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  border-radius: 12px;
  grid-column-gap: 15px;
}

.content-card-container-flexbox-left {
  background-color: var(--primay-color);
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  grid-column: 1 / span 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.content-card-container-flexbox-left img {
  width: 80%;
  aspect-ratio: 3/6;
  margin: 20px auto;
  object-fit: cover;
  object-position: center;
}
.content-card-container-flexbox-middle {
  grid-column: 2 / span 2;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
}

.human-body {
  display: block;
  margin: 20px 0;
  width: 100%;
  height: 100%;
}
.human-body svg {
  width: 100%;
  height: 100%;
}
.human-body svg:hover {
  cursor: pointer;
}

.human-body svg path:hover {
  fill: #a80000;
}

#area #data {
  color: black;
}
.popup-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.3s ease-in-out;
}

.popup-card {
  padding: 20px;
  text-align: center;
  position: relative;
}

.popup-card h2 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
}
.popup-card > div {
  margin: 40px 0;
}
.popup-card div button {
  outline: none;
  background-color: var(--seconday-color);
  border: none;
  padding: 13px 20px;
  color: var(--fourth-color);
  border-radius: 5px;
  font-size: 1.6rem;
  margin: 0 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.popup-card div button:hover {
  background-color: var(--third-color);
}
#close-popup {
  position: absolute;
  background-color: var(--grey-color);
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 18px;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

#close-popup:hover {
  background-color: transparent;
  border: 2px solid var(--grey-color);
  color: var(--grey-color);
}

/* --------------------------------------------- */
.content-card-container-flexbox-right {
  grid-column: 4 / span 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content-card-container-flexbox-right h2 {
  font-size: 4.4rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--seconday-color);
  margin: 0 0 15px 0;
  line-height: 40px;
}

.content-card-container-flexbox-right > div {
  background-color: var(--fourth-color);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  height: 70%;
  position: relative;
  margin-right: 20px;
}
.body-part-des {
  padding: 5px 14px 10px 14px;
  height: 80%;
  margin-top: 20px;
  overflow-y: scroll;
  max-height: 500px;
}
.body-part-des::-webkit-scrollbar {
  width: 10px; /* Adjust the width as needed */
  background-color: var(--fourth-color); /* Dark grey color for the track */
  border-radius: 10px;
}
.body-part-des::-webkit-scrollbar-thumb {
  background-color: #858585; /* Light grey color for the thumb */
  border: 2px solid #858585; /* Add a border to the thumb */
  border-radius: 6px; /* Rounded corners for the thumb */
}
.content-card-container-flexbox-right > div .body-part-des p {
  color: var(--grey-color);
  margin-bottom: 12px;
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 22px;
  font-weight: 400;
}
.content-card-container-flexbox-right button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 15px 10px;
  width: 90%;
  font-size: 1.6rem;
  line-height: 16px;
  font-weight: 500;
  text-align: center;
  color: var(--seconday-color);
  border-top: 3px solid rgba(152, 152, 152, 0.2);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* --------Side Button------- */
.side-button {
  position: fixed;
  z-index: 20;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/*---------------- Forme Du Moment Page----------------- */
.content-card-container-forme h1 {
  font-weight: 500;
  margin-bottom: 70px;
}
.content-card-container-flexbox-forme {
  margin: 0 auto;
  background-color: var(--fourth-color);
  max-width: 1200px;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-radius: 12px;
  grid-column-gap: 15px;
}

.content-card-container-flexbox-forme-left {
  background-color: var(--primay-color);
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  grid-column: 1 / span 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.content-card-container-flexbox-forme-left img {
  width: 80%;
  aspect-ratio: 3/6;
  margin: 20px auto;
  object-fit: cover;
  object-position: center;
}
.content-card-container-flexbox-forme-middle {
  grid-column: 3 / span 3;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.forme-chart {
  width: 100%;
}
.forme-chart canvas {
  width: 100%;
  margin: 0 auto;
}
.content-card-container-flexbox-forme-middle h3 {
  font-size: 3rem;
  color: var(--seconday-color);
  text-transform: uppercase;
  margin-top: 20px;
}
.content-card-container-flexbox-forme-middle a {
  font-size: 2rem;
  color: var(--grey-color);
}
.content-card-container-flexbox-forme-middle p {
  font-size: 1.3rem;
  color: var(--grey-color);
  font-weight: 600;
}
.content-card-container-flexbox-forme-right {
  grid-column: 6 / span 2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 25px 15px 0;
}
.content-card-container-flexbox-forme-right table {
  border-collapse: separate;
  border-spacing: 0 0;
}

.content-card-container-flexbox-forme-right table tr th {
  color: var(--grey-color);
  font-size: 1.9rem;
  font-weight: 800;
  text-transform: uppercase;
  padding-right: 10px;
  padding-top: 8px;
}
.content-card-container-flexbox-forme-right table tr td {
  color: var(--seconday-color);
  font-size: 1.9rem;
  font-weight: 800;
  text-transform: uppercase;
  padding-left: 14px;
  padding-top: 8px;
  border-left: 3px solid var(--primay-color);
}
.content-card-container-flexbox-forme-right table tr:first-child th,
.content-card-container-flexbox-forme-right table tr:first-child td {
  padding-top: 0;
}

.content-card-container-flexbox-right-forme {
  position: relative;
}
.fa-chevron-double-left {
  position: absolute;
  top: 30px;
  left: 20px;
  font-size: 3.2rem;
  color: var(--seconday-color);
  cursor: pointer;
}

.fa-chevron-double-right {
  position: absolute;
  top: 30px;
  right: 20px;
  font-size: 3.2rem;
  color: var(--seconday-color);
  cursor: pointer;
}
.fa-chevron-double-left:hover,
.fa-chevron-double-right:hover {
  color: #014e28;
}
.content-card-container-flexbox-forme {
  position: relative;
}
.forme-content-card-switch-buttons {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: -35px;
  right: 15px;
}

.forme-content-card-switch-buttons div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primay-color);
  padding: 4px 25px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  margin-left: 30px;
  cursor: pointer;
}
.forme-content-card-switch-buttons div:hover {
  background-color: var(--grey-color);
}
.forme-content-card-switch-buttons div img {
  width: 25%;
}

.forme-content-card-switch-buttons div span {
  color: var(--fourth-color);
  font-size: 2rem;
  font-weight: 700;
  margin-right: 25px;
}

.forme-content-card-switch-button-active {
  background-color: var(--seconday-color) !important;
}

/* ----------------Videos Joueurs Page--------------------- */
.content-card-container-flexbox-library-video {
  margin: 0 auto;
  background-color: var(--fourth-color);
  max-width: 1200px;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-radius: 12px;
}

.content-card-container-flexbox-library-video-left {
  background-color: var(--seconday-color);
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  grid-column: 1 / span 2;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/fcnante.png");
}
.content-card-container-flexbox-library-video-left-switches {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;

  width: 100%;
}
.content-card-container-flexbox-library-video-left-switches ul {
  width: 100%;
}
.content-card-container-flexbox-library-video-left-switches ul li {
  margin: 40px 0;
  color: var(--primay-color);
}
.content-card-container-flexbox-library-video-left-switches ul li:hover {
  background-color: var(--primay-color);
  color: #01a558 !important;
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.2);
  margin-left: -3px !important;
  margin-right: -20px !important;
  border-bottom-right-radius: 20px;
}
.content-card-container-flexbox-library-video-left-switches ul li a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 20px 5px 20px;
}
.library-menu-select {
  background-color: var(--primay-color);
  color: #01a558 !important;
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.2);
  margin-left: -3px !important;
  margin-right: -17px !important;
  border-bottom-right-radius: 20px;
}
.content-card-container-flexbox-library-video-left-switches ul li div {
  background-color: var(--fourth-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.1);
  margin-right: 14px;
}
.content-card-container-flexbox-library-video-left-switches ul li img {
  object-fit: contain;
  object-position: center;
  width: 60%;
}
.content-card-container-flexbox-library-video-left-switches ul li span {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
}
.content-card-container-flexbox-library-video-right {
  grid-column: 3 / span 5;
}
.content-card-container-flexbox-joueurs {
  height: 580px;
  overflow-y: scroll;
  margin: 20px 5px;
  padding: 100px 15px 100px 45px;
}

.content-card-container-flexbox-joueurs::-webkit-scrollbar {
  width: 6px; /* Adjust the width as needed */
  background-color: #c4c4c4; /* Dark grey color for the track */
  border-radius: 10px;
}
.content-card-container-flexbox-joueurs::-webkit-scrollbar-thumb {
  background-color: #858585; /* Light grey color for the thumb */
  border: 2px solid #858585; /* Add a border to the thumb */
  border-radius: 6px; /* Rounded corners for the thumb */
}

.joueurs-players-flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 90px;
  column-gap: 30px;
}

.joueurs-players-flexbox-card {
  background-color: var(--fourth-color);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1),
    -10px 10px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
}

.joueurs-players-img img {
  margin-top: -70px;
  object-fit: cover;
  object-position: center;
}

.joueurs-players-content {
  text-align: center;
  padding: 5px 0;
}

.joueurs-players-content h2 {
  font-size: 1.7rem;
  font-weight: 900;
  text-transform: uppercase;
  padding: 0 10px;
  color: var(--seconday-color);
}

.joueurs-players-content .joueurs-player-age {
  font-size: 1.3rem;
  padding: 2px 10px 5px 10px;
  margin-bottom: 20px;
}
.joueurs-players-content div {
  position: relative;
  width: 100%;
}
.joueurs-players-content h3 {
  font-size: 1.2rem;
  font-weight: 900;
  text-transform: uppercase;
  background-color: var(--primay-color);
  position: absolute;
  width: 110%;
  left: 50%;
  transform: translate(-50%, -20px);
  padding: 3px 2px;
  color: var(--seconday-color);
  box-shadow: 10px -10px 20px rgba(0, 0, 0, 0.1),
    -10px 10px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.joueurs-players-content > span {
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--grey-color);
  font-weight: 800;
}

/*------------------ Adversaire Page ---------------------*/
.content-card-container-flexbox-adversaire {
  height: 580px;
  overflow-y: scroll;
  margin: 20px 5px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.content-card-container-flexbox-adversaire::-webkit-scrollbar {
  width: 6px; /* Adjust the width as needed */
  background-color: #c4c4c4; /* Dark grey color for the track */
  border-radius: 10px;
}
.content-card-container-flexbox-adversaire::-webkit-scrollbar-thumb {
  background-color: #858585; /* Light grey color for the thumb */
  border: 2px solid #858585; /* Add a border to the thumb */
  border-radius: 6px; /* Rounded corners for the thumb */
}

.adversaire-card {
  width: 100%;
  background-color: var(--fourth-color);
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  border-radius: 4px;
}

.adversaire-card-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 33%;
}
.adversaire-card-left div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: fit-content;
  padding: 20px 0 2px 0;
}

.adversaire-card-left img {
  width: 80%;
  max-width: 100px;
  height: 90px;
  object-fit: contain;
  object-position: center;
}

.adversaire-card-left h3 {
  color: var(--seconday-color);
  font-weight: 600;
  font-size: 2.2rem;
}

.adversaire-card-middle {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
}
.adversaire-card-middle .match-calender {
  position: relative;
}
.adversaire-card-middle .match-calender i {
  font-size: 5rem;
}
.adversaire-card-middle .match-calender span {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -65%);
  font-size: 1rem;
  font-weight: 900;
  text-align: center;
  line-height: 1rem;
}

.adversaire-card-middle b {
  font-size: 2.1rem;
  font-weight: 700;
  margin: 16px 0 26px 0;
}

.v-s span:first-child {
  background-color: black;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--fourth-color);
  transform: translateY(-10px);
  width: 27px;
  height: 30px;
  text-align: center;
  display: inline-block;
  padding: 3px 0;
}
.v-s span:last-child {
  border: 1px solid black;
  font-size: 1.8rem;
  font-weight: 500;
  width: 25px;
  height: 30px;
  text-align: center;
  display: inline-block;
  padding: 3px 0;
}
.adversaire-card-right {
  width: 33%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0 2px 0;
}
.adversaire-card-right div {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: fit-content;
}
.adversaire-card-right img {
  width: 80%;
  max-width: 100px;
  height: 90px;
  object-fit: contain;
  object-position: center;
}

.adversaire-card-right h3 {
  color: var(--primay-color);
  font-weight: 600;
  font-size: 2.2rem;
}

.adversaire-card-absolute {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 5px 5px;
}

.adversaire-card-absolute img {
  width: 40px;
  object-fit: contain;
  object-position: center;
}

.adversaire-card-absolute i {
  font-size: 3rem;
  color: var(--seconday-color);
  cursor: pointer;
  margin-right: 3px;
}
.adversaire-card-absolute i:hover {
  color: var(--primay-color);
}

/*--------- Videos Matches Page---------- */

.content-card-container-flexbox-matches {
  height: 580px;
  overflow-y: scroll;
  margin: 20px 5px;
  padding: 10px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 25px;
  grid-column-gap: 18px;
}

.content-card-container-flexbox-matches::-webkit-scrollbar {
  width: 6px; /* Adjust the width as needed */
  background-color: #c4c4c4; /* Dark grey color for the track */
  border-radius: 10px;
}
.content-card-container-flexbox-matches::-webkit-scrollbar-thumb {
  background-color: #858585; /* Light grey color for the thumb */
  border: 2px solid #858585; /* Add a border to the thumb */
  border-radius: 6px; /* Rounded corners for the thumb */
}

.videos-matches-card {
  border-radius: 6px;
  padding: 8px 8px;
  background-color: var(--fourth-color);
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.2);
}

.videos-matches-card iframe {
  width: 100%;
  border-radius: 6px;
}

.videos-matches-card h3 {
  font-size: 1.2rem;
  margin: 7px 0 5px 0;
}

.videos-matches-card span {
  font-size: 1.2rem;
  color: var(--grey-color);
  font-weight: 500;
}

/*--------- Videos Entertainment Pages-------- */
.content-card-container-flexbox-entertainment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.a {
  width: 96%;
  height: 580px;
  overflow: auto;
  margin: 20px 2%;
}
.a::-webkit-scrollbar {
  width: 6px; /* Adjust the width as needed */
  background-color: #c4c4c4; /* Dark grey color for the track */
  height: 8px;
  border-radius: 10px;
}
.a::-webkit-scrollbar-thumb {
  background-color: #858585; /* Light grey color for the thumb */
  border: 2px solid #858585; /* Add a border to the thumb */
  border-radius: 6px; /* Rounded corners for the thumb */
}

.content-card-container-flexbox-entertainment-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 2px solid var(--grey-color);
  padding: 10px 30px 10px 10px;
}

.content-card-container-flexbox-entertainment h1 {
  font-size: 2.4rem !important;
  line-height: 2.6rem !important;
  color: var(--seconday-color) !important;
  font-weight: 700 !important;
}

.entertainment-card {
  border-radius: 6px;
  padding: 8px 8px;
  background-color: var(--fourth-color);
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 20px;
  width: 500px;
}

.entertainment-card div {
  margin-right: 10px;
}

.entertainment-card iframe {
  width: 180px;
  border-radius: 4px;
}

.entertainment-card h3 {
  font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 600;
}

.entertainment-card span:nth-child(2) {
  font-size: 1rem;
  color: var(--grey-color);
  font-weight: 500;
}
.entertainment-card span:nth-child(3) {
  font-size: 1.1rem;
  color: var(--grey-color);
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 8px 0 15px 0;
}

.entertainment-card span:nth-child(3) img {
  width: 20px;
  margin-right: 5px;
}
.entertainment-card span:nth-child(3) i {
  margin-left: 5px;
}

.entertainment-card p {
  font-size: 1rem;
  color: var(--grey-color);
  font-weight: 500;
}

.content-card-container-flexbox-entertainment-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
}
.entertainment-switch-buttons {
  margin-left: 15px;

  display: none;
}
.entertainment-switch-buttons span {
  background-color: var(--seconday-color);
  color: var(--fourth-color);
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 600;
  padding: 8px 20px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 10px;
}
.entertainment-switch-buttons span:hover {
  background-color: var(--third-color);
}

/* Learning All Content */
.content-card-container-flexbox-learning {
  margin: 0 auto;
  background-color: var(--fourth-color);
  max-width: 1200px;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  border-radius: 12px;
  position: relative;
}
.learning-card-left-arrow {
  position: absolute;
  top: -10px;
  left: 0;
}
.learning-card-right-arrow {
  position: absolute;
  top: -10px;
  right: 0;
}
.learning-card-left-arrow i,
.learning-card-right-arrow i {
  font-size: 2.6rem;
  position: relative !important;
}

.content-card-container-flexbox-learning-left {
  background-color: #f9f9f9;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  grid-column: 1 / span 2;
}
.content-card-container-flexbox-learning-left-switches {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  width: 100%;
}
.content-card-container-flexbox-learning-left-switches > ul {
  height: 80%;
  overflow-y: auto;
  width: 100%;
}
.content-card-container-flexbox-learning-left-switches > ul::-webkit-scrollbar {
  width: 6px; /* Adjust the width as needed */
  background-color: #c4c4c4; /* Dark grey color for the track */
  height: 8px;
  border-radius: 10px;
}
.content-card-container-flexbox-learning-left-switches
  > ul::-webkit-scrollbar-thumb {
  background-color: #858585; /* Light grey color for the thumb */
  border: 2px solid #858585; /* Add a border to the thumb */
  border-radius: 6px; /* Rounded corners for the thumb */
}
.content-card-container-flexbox-learning-left-switches h3 {
  color: rgb(67, 67, 67);
  font-size: 2.6rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 60px 15px 25px 30px;
}
.content-card-container-flexbox-learning-left-switches h3 i {
  color: var(--seconday-color);
  font-size: 2.3rem;
  margin-right: 8px;
}
.content-card-container-flexbox-learning-left-switches > ul > li {
  margin: 13px 0;
  position: relative;
}
.content-card-container-flexbox-learning-left-switches > ul > li > a {
  color: var(--seconday-color);
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 6px 0;
  display: block;
  padding: 6px 15px 6px 35px;
  cursor: pointer;
}
.content-card-container-flexbox-learning-left-switches > ul > li:hover > a {
  background-color: var(--primay-color);
}
.content-card-container-flexbox-learning-left-switches > ul > li > a:hover i,
.content-card-container-flexbox-learning-left-switches > ul > li:hover > a > i {
  visibility: visible;
}

.content-card-container-flexbox-learning-left-switches > ul > li > a > i {
  margin-right: 11px;
  visibility: hidden;
}
.content-card-container-flexbox-learning-left-switches > ul > li div ul {
  padding: 0 15px 0 65px;
}
.content-card-container-flexbox-learning-left-switches-dropdown {
  display: none;
}
.switch-dropdown-display-block {
  display: block;
}
.content-card-container-flexbox-learning-left-switches > ul > li div ul li {
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: uppercase;
  margin-top: 6px;
  color: rgb(67, 67, 67);
}
.content-card-container-flexbox-learning-left-switches
  > ul
  > li
  div
  ul
  li:hover {
  color: #d0b505;
}
.learning-menu-select > a {
  background-color: var(--primay-color);
}

.learning-menu-select > a i {
  visibility: visible !important;
}
.learning-menu-select
  > .content-card-container-flexbox-learning-left-switches-dropdown {
  display: block !important;
}
.learning-sub-menu-select {
  color: #d0b505 !important;
}
.content-card-container-flexbox-learning-right {
  grid-column: 3 / span 6;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.2);
}
.content-card-container-flexbox-learning-right .a {
  margin-top: 60px;
}
.content-card-container-flexbox-all-content {
  padding-right: 10px;
}

.content-card-container-flexbox-all-content table {
  border-collapse: collapse;
  text-transform: uppercase;
}
.content-card-container-flexbox-all-content table thead tr {
  border-bottom: 1px solid var(--grey-color);
}
.content-card-container-flexbox-all-content table thead tr th {
  text-align: left;
  font-size: 2.7rem;
  font-weight: 600;
  color: var(--seconday-color);
  text-transform: uppercase;
  padding: 5px 10px 5px 0;
}

.content-card-container-flexbox-all-content table tbody tr {
  width: 100%;
  border-bottom: 1px solid var(--grey-color);
}
.content-card-container-flexbox-all-content table tbody tr td span {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 6px 30px 6px 0;
  font-size: 1.5rem;
  font-family: 800;
  color: #858585;
}
.content-card-container-flexbox-all-content table tbody tr td:first-child img {
  width: 70px;
  height: 43px;
  border-radius: 6px;
  margin-right: 7px;
}
.content-card-container-flexbox-all-content table tbody tr td:nth-child(2) img {
  width: 60px;
  height: 50px;
  margin-right: 7px;
}
.content-card-container-flexbox-all-content table tbody tr td:last-child img {
  width: 35px;
  height: 27px;
  margin-right: 7px;
}

/* Learning Collect If */
.content-card-container-flexbox-collectif {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.content-card-container-flexbox-collectif-folders {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  margin-bottom: 60px;
}
.content-card-container-flexbox-collectif-folders h3 {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--seconday-color);
}
.content-card-container-flexbox-collectif-folders img {
  width: 110px;
  margin: 0 auto 15px auto;
}
.content-card-container-flexbox-collectif-folders img:hover ~ h3,
.content-card-container-flexbox-collectif-folders h3:hover {
  color: var(--third-color);
}

/* Notes Page */
.content-card-container-flexbox-notes {
  margin: 0 auto;
  background-color: var(--fourth-color);
  max-width: 1200px;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  border-radius: 12px;
  position: relative;
}
.notes-date-bar {
  background-color: var(--seconday-color);
  margin-top: 20px;
  padding: 4px 18px;
  width: fit-content;
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.2);
}
.notes-card-type-1 {
  background-image: url("../images/plain\ note.png");
  width: 170px;
  height: 180px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.notes-card-type-1:hover,
.notes-card-type-2:hover {
  box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.2);
}
.notes-card-type-2 {
  background-image: url("../images//curved\ note.png");
  width: 170px;
  height: 180px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.notes-card-type-1 .note-date {
  color: red;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 8px 8px;
}
.notes-card-type-1 .note-title,
.notes-card-type-2 .note-title {
  font-size: 1.7rem;
  font-weight: 500;
  color: rgb(77, 77, 77);
  text-transform: uppercase;
}
.notes-card-type-2 {
  position: relative;
}
.notes-card-type-1 div,
.notes-card-type-2 div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-start;
  width: 100%;
}
.notes-card-type-1 div i,
.notes-card-type-2 div i {
  color: red;
  font-size: 1.4rem;
  padding: 12px 2px 12px 16px;
}
.notes-card-type-1 div i:hover,
.notes-card-type-2 div i:hover {
  color: var(--grey-color);
}
.add-more-notes {
  width: 160px;
  height: 180px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid var(--seconday-color);
  border-radius: 10px;
  font-size: 6rem;
  color: var(--seconday-color);
}
.add-more-notes:hover {
  border: 3px solid var(--third-color);
  color: var(--third-color);
}
.notes-card-container {
  width: 94%;
  height: 580px;
  overflow: auto;
  padding: 0 20px;
  margin: 30px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 20px;
}
.notes-card-container::-webkit-scrollbar {
  width: 6px; /* Adjust the width as needed */
  background-color: #c4c4c4; /* Dark grey color for the track */
  height: 8px;
  border-radius: 10px;
}
.notes-card-container::-webkit-scrollbar-thumb {
  background-color: #858585; /* Light grey color for the thumb */
  border: 2px solid #858585; /* Add a border to the thumb */
  border-radius: 6px; /* Rounded corners for the thumb */
}
.notes-date-bar p {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
  color: var(--fourth-color);
}
.notes-date-bar p span {
  margin-left: 8px;
  color: var(--primay-color);
  letter-spacing: 1.5px;
}

.content-card-container-flexbox-notes-left {
  grid-column: 1 / span 7;
}
/* Modal */

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  z-index: 50;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 30px 20px;
  border-radius: 0.5rem;
}
.modal-content h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
}
.modal-content div input {
  width: 100%;
  padding: 10px 10px;
  margin: 18px 0;
}
.modal-content div textarea {
  width: 100%;
  padding: 10px 10px;
  margin-bottom: 18px;
}
.modal-content div button {
  width: 100%;
  outline: none;
  background-color: transparent;
  border: none;
  background-color: var(--seconday-color);
  padding: 8px 10px;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  font-size: 1.8rem;
  cursor: pointer;
}
.modal-content div button:hover {
  background-color: var(--third-color);
}
.close-button {
  float: right;
  padding: 8px 8px;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: lightgray;
}
.close-button:hover {
  background-color: darkgray;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.content-card-container-flexbox-notes-right {
  position: relative;
  grid-column: 8 / span 3;
  background-color: var(--primay-color);
  border-bottom-right-radius: 10px;
}
.content-card-container-flexbox-notes-right-content {
  width: 92%;
  height: 580px;
  overflow: auto;
  padding: 0 10px;
  margin: 30px auto;
}
.content-card-container-flexbox-notes-right-content::-webkit-scrollbar {
  width: 6px; /* Adjust the width as needed */
  background-color: #c4c4c4; /* Dark grey color for the track */
  height: 8px;
  border-radius: 10px;
}
.content-card-container-flexbox-notes-right-content::-webkit-scrollbar-thumb {
  background-color: #858585; /* Light grey color for the thumb */
  border: 2px solid #858585; /* Add a border to the thumb */
  border-radius: 6px; /* Rounded corners for the thumb */
}
.content-card-container-flexbox-notes-right-content h2 {
  font-size: 2.8rem;
  text-transform: uppercase;
  font-weight: 700;
  color: rgb(77, 77, 77);
  text-align: center;
}
.content-card-container-flexbox-notes-right-content b {
  margin: 40px 0 10px 0;
  display: inline-block;
  font-size: 1.1rem;
  color: rgb(77, 77, 77);
  text-transform: uppercase;
  text-align: center;
}

.content-card-container-flexbox-notes-right-content p {
  font-size: 0.8rem;
  font-weight: 600;
  color: rgb(77, 77, 77);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.content-card-container-flexbox-notes-right > span {
  background-color: var(--seconday-color);
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  margin: 0 12px 12px auto;
  cursor: pointer;
}
